.header img{
    height: 15%;
    width: 15%;
  }
  h1{
    color: #CF0A0A;
    margin-top: 6%;
    margin-left: 2%;
  }
  
  .header {
    padding-top: 15%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
  }